version: "3.8"
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: tinylink
      POSTGRES_USER: tiny
      POSTGRES_PASSWORD: tinysecret
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata:
